/*Generalidades*/

body{
    background-color:#7f0082c9;
    background-image: url(fondo-des2.png);
    background-blend-mode:multiply;
    font-family: 'Neucha', cursive;
    justify-content: center;
}

header {
    margin-top: auto;
    margin-left:auto;
    text-align: center;
}
h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 100px; 
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    font-weight: bold;
    text-shadow: 8px 8px 8px #FF9800;
}

h2 {
    font-family: 'Babylonica', cursive;
    font-size:  5rem; 
    margin-block-start: 0.2rem;
    margin-block-end: 0.2rem;
    text-shadow: 8px 8px 7px #FF9800;
    margin-top: 0px;
}

main {
    width: 85%;
    height: fit-content;
    background-color: white;
    padding: 2rem;
    border-radius: 18%;
    box-shadow: 15px 15px 5px #6f0289;
    text-align: center;
    font-size: larger;
    display: block;
    justify-content: column;
    align-content: center;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-content: center;
}

#magico {
    width: 2rem;
    height: 2rem;
}
.formularios {
    padding: 0rem;
    margin-top: 0rem;
    display:flex;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
}

article {
    padding: 17px;
    width: 30%;
    max-width: 30%;
    min-width: 20%;
    display: block;
    text-align: center
   
}

label {
    font-size: 2rem;
}

textarea {
    width: 80%;
    border-radius: 18%;
    font-size: 1.5rem;
    padding: 2rem;
}
input {
    width: 100%;
    height: 150px;
  }

#reset {
    content: inherit;
}  

button {
    font-family: 'Rock Salt', cursive;
    font-size: 22px;
    padding: 0.3rem;
    border-radius: 35%;
    border:outset;
    border-color:#e18700 ;
    background-color:#FF9800;
    color:black;
    box-shadow: 7px 7px 10px 1px rgba(68, 8, 72, 0.24);
}

button:hover {
    background-color:#6f0289;
    color:antiquewhite;
    border:inset;
}

button:active {
    transform: translateY(4px);
}

.divisor:hover {
    transform: rotate(70deg);
}

footer {
    text-align:center;
    color:aliceblue;
    justify-content: center;
}

@media screen and (max-width:1024px) {

    .divisor{
    display:none;
    visibility: hidden;
}
}

@media screen and (max-width:768px) {

    main {
        width:95%;
        padding: 2rem;
        margin: 2rem;
    }
    formularios {

    flex-direction: column;
    align-content: center;
    justify-content: center;
    }

    article {
    padding: 20px;
    width: 50%;
    max-width:70%;
    min-width: 30%;
    display: block;
    justify-content: center;
    text-justify: center;
    justify-self: auto;
    }

    textarea {
    width: 100%;

    }

    #magico {
        width: 2rem;
        margin: 5%;
    }
    button {
        font-size: 16px;
        padding: 0.3rem;
        box-shadow: 8px 8px 15px 2px rgba(68, 8, 72, 0.24);
    }
    .divisor{
    display:none;
    visibility: hidden;
    }
    footer {
    font-size:1rem ;
    }
}


